<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SIM.Properties.Settings.geuConnectionString" connectionString="Data Source=SATYAM\SQLEXPRESS;Initial Catalog=geu;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     <add name="SIM.Properties.Settings.geuConnectionString" connectionString="Data Source=SATYAM\SQLEXPRESS;Initial Catalog=geu;Integrated Security=True"
      providerName="System.Data.SqlClient" />
       <add name="geuStudentEntities" connectionString="metadata=res://*/ModelStudent.csdl|res://*/ModelStudent.ssdl|res://*/ModelStudent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LoginEntities" connectionString="metadata=res://*/LoginModel.csdl|res://*/LoginModel.ssdl|res://*/LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LoginTabelEntities" connectionString="metadata=res://*/LoginModel.csdl|res://*/LoginModel.ssdl|res://*/LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StudentEntities" connectionString="metadata=res://*/StudentModel.csdl|res://*/StudentModel.ssdl|res://*/StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FacultyEntities" connectionString="metadata=res://*/FacultyModel.csdl|res://*/FacultyModel.ssdl|res://*/FacultyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StaffEntities" connectionString="metadata=res://*/StaffModel.csdl|res://*/StaffModel.ssdl|res://*/StaffModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SIM.Properties.Settings.FacultyEntities" connectionString="metadata=res://*/FacultyModel.csdl|res://*/FacultyModel.ssdl|res://*/FacultyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KUMARSATYAM\SQLEXPRESS;initial catalog=geu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="" />
  </connectionStrings>
  <userSettings>
    <SIM.Properties.Settings>
      <setting name="PhoneNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="FullName" serializeAs="String">
        <value />
      </setting>
      <setting name="Remember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginId" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whatsAppMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Emailid" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailName" serializeAs="String">
        <value />
      </setting>
      <setting name="Emailpassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailRemember" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailSmtp" serializeAs="String">
        <value />
      </setting>
      <setting name="Emailport" serializeAs="String">
        <value />
      </setting>
      <setting name="SSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="btn1" serializeAs="String">
        <value />
      </setting>
      <setting name="btn2" serializeAs="String">
        <value />
      </setting>
      <setting name="btn3" serializeAs="String">
        <value />
      </setting>
      <setting name="btn4" serializeAs="String">
        <value />
      </setting>
      <setting name="btn5" serializeAs="String">
        <value />
      </setting>
      <setting name="btn6" serializeAs="String">
        <value />
      </setting>
      <setting name="btn7" serializeAs="String">
        <value />
      </setting>
      <setting name="btn8" serializeAs="String">
        <value />
      </setting>
      <setting name="btn9" serializeAs="String">
        <value />
      </setting>
      <setting name="btn10" serializeAs="String">
        <value />
      </setting>
      <setting name="btn11" serializeAs="String">
        <value />
      </setting>
      <setting name="btn12" serializeAs="String">
        <value />
      </setting>
      <setting name="btn13" serializeAs="String">
        <value />
      </setting>
      <setting name="btn14" serializeAs="String">
        <value />
      </setting>
    </SIM.Properties.Settings>
  </userSettings>
</configuration>

